<!DOCTYPE html>
<html>
<head>
    <title><%= article.title %></title>
</head>
<body>
    <a href="/">← Back to Home</a>

    <h1><%= article.title %></h1>

    <p>
        Published:
        <%= article.createdAt %>
    </p>

    <hr>

    <p>
        <%= article.content %>
    </p>
</body>
</html>