<!DOCTYPE html>
<html>
<head>
    <title><%= article.title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">My Blog</a>

        <div>
            <a href="/admin">Dashboard</a>
        </div>
    </nav>
    <% if (isAdminView) { %>
        <a class="back-link" href="/admin">
            ← Back to Dashboard
        </a>
    <% } else { %>
        <a class="back-link" href="/">
            ← Back to Home
        </a>
    <% } %>
    <div class="container">
    <h1><%= article.title %></h1>
    <p class="article-date">
        Last updated:
        <%= new Date(
            article.lastModifiedAt
        ).toLocaleString() %>
    </p>
    <hr>

    <div class="article-content">
        <%= article.content %>
    </div>
    </div>
</body>
</html>