<!DOCTYPE html>
<html>
<head>
    <title>Edit Article</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">My Blog</a>

        <div>
            <a href="/admin">Dashboard</a>
        </div>
    </nav>
    <div class="container">
    <h1>Edit Article</h1>

    <form
        action="/edit/<%= article.id %>"
        method="POST"
    >

        <div>
            <label>Title</label>

            <input
                type="text"
                name="title"
                value="<%= article.title %>"
                required
            >
        </div>

        <br>

        <div>
            <label>Content</label>

            <textarea
                name="content"
                rows="10"
                cols="50"
                required
            ><%= article.content %></textarea>
        </div>

        <br>

        <button type="submit">
            Save Changes
        </button>
    </form>
    </div>
</body>
</html>