<!DOCTYPE html>
<html>
<head>
    <title>Personal Blog</title>
</head>
<body>
    <h1>My Personal Blog</h1>

    <% if (articles.length === 0) { %>
        <p>No articles yet.</p>
    <% } %>

    <% articles.forEach((article) => { %>
        <div>
            <h2>
                <a href="/article/<%= article.id %>">
                    <%= article.title %>
                </a>
            </h2>

            <p>
                Published:
                <%= article.createdAt %>
            </p>
            <p>
                Last edited at:
                <%= article.lastModifiedAt %>
            </p>
        </div>

        <hr>
    <% }) %>
</body>
</html>