<!DOCTYPE html>
<html>
<head>
    <title>New Article</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">My Blog</a>

        <div>
            <a href="/admin">Dashboard</a>
        </div>
    </nav>
    <div class="container">
    <h1>Create New Article</h1>

    <form action="/new" method="POST">

        <div>
            <label>Title</label>

            <input
                type="text"
                name="title"
                required
            >
        </div>

        <br>

        <div>
            <label>Content</label>

            <textarea
                name="content"
                rows="10"
                cols="50"
                required
            ></textarea>
        </div>

        <br>

        <button type="submit">
            Create Article
        </button>
    </form>
    </div>
</body>
</html>